PORT=8080
MONGO_URL=mongodb://localhost:27017/ecommerce
JWT_SECRET=changeme
SECRET_SESSION=changeme
BASE_URL=http://localhost:8080


TWILIO_ACCOUNT_SID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_FROM_SMS=+1234567890
TWILIO_FROM_WAPP=whatsapp:+1234567890


SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=tuusuario@gmail.com
SMTP_PASS=xxxxxxxxxxxxxxxx
SMTP_FROM="Tu Nombre <tuusuario@gmail.com>"
